#oakland {
  background: url(http://www.mtc.ca.gov/images/ta10-1107/OaklandBridge-423.jpg);
  height: 400px;
  width: 100%;
}

.zoinked #space_needle {
  height: 750px;
  width: 100%;
}

.zoinked #space_needle {
  background: url(http://upload.wikimedia.org/wikipedia/commons/2/27/Y_Space-Needle-at-Night.jpg);
  background-size: 100%;
}